/*<nav class="site-header py-1">*/
nav
{
    background-color: #1b1e21;
}

textarea
{
    padding: 5px;
    rows: 4;
    resize: none;
    border-radius: 3px;
}

table
{
    display: inline-block;
}

#scriviStoria /* "#" per gli id e "." per le classi */
{
    margin: auto;
    width: 100%;
    text-align: center;
    justify-items: center;
}

#navbarTop
{
    align-items: center;
    background-color: #171a1d;
}

footer
{
    padding-bottom: 50px;

}










